.tablediv {
  display: flex;
  justify-content: center;
}

.enabledsubmitbtn {
  padding: 10px 5%;
  margin: 20px 40px;
  background-color: white;
  color: #0D6EFD;
  border: 1px solid #0D6EFD;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}
.enabledsubmitbtn:hover {
  cursor: pointer;
  background-color: #0B5ED7;
  color: white;
  border: 1px solid #0B5ED7;
}

.disabledsubmitbtn {
  padding: 10px 5%;
  margin: 20px 40px;
  background-color: white;
  color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.enablededitbtn {
  padding: 10px 5%;
  margin: 20px 40px;
  background-color: white;
  color: #FFC107;
  border: 1px solid #FFC107;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.enablededitbtn:hover {
  cursor: pointer;
  background-color: #FFCA2C;
  color: white;
  border: 1px solid #FFCA2C;
}

.disablededitbtn {
  padding: 10px 5%;
  margin: 20px 40px;
  background-color: white;
  color: rgba(128, 128, 128, 0.5);
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
}

.addbtn {
  padding: 10px 5%;
  margin: 20px 40px;
  background-color: white;
  color: #0D6EFD;
  border: 1px solid #0D6EFD;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

.addbtn:hover {
  cursor: pointer;
  background-color: #0B5ED7;
  color: white;
  border: 1px solid #0B5ED7;
}

.th {
  text-align: center;
}

.tablehead .th {
  border: 1px solid black;
  background-color: lightgray;
}

.td {
  text-align: center;
}

.tablechecked .td {
  background-color: rgba(13, 103, 238, 0.2);
}

.td:hover {
  cursor: pointer;
}