.th {
  text-align: center;
}

.tablehead .th {
  border: 1px solid black;
  background-color: rgba(21, 115, 71, 0.8);
  color: white;
}

.td {
  text-align: center;
}

.td:hover {
  cursor: pointer;
}